:root {
    --button: rgb(0, 231, 89);
    --button-s: rgb(2, 206, 80);
}

.grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-inline: 1.5%;
    margin-top: auto;
    margin-inline: 50%;
}

.grid-element{
    margin: auto;
    display: flex;
    padding: 5%;
    background-color: #59a570;
    border-radius: 25px;
    width: 700px;

    justify-content: center;
    align-items: center;
}

.img-sect {
    width: 45%;
    height: 270px;
    margin-right: 2%; /* Add some margin for spacing */
    border-radius: 25px;
    border: 3px solid #f3f3f3;
    box-shadow: -10px 10px 0 0 rgb(166, 225, 157)l
}

.img-style {
    border-radius: 25px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.city-thingies {
    padding: 1.5%;
    width: 46%;
}

.description{
    text-align: justify;

    padding: 2%;
    border-radius: 10px;
    max-height: 170px;
    overflow: hidden;
    overflow-y: scroll;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.buttons a button {
    padding: 1em 2em 1em 2em;
    outline: none;
    background-color: var(--button);
    border: 0.5em solid var(--button-s);
    border-radius: 2em;
    font-weight: 600;
    color: lightcoral;

    transition: 0.25s;
}
.buttons a button:hover {
    transform: scale(110%);
    color: white;
}

#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color:#59a570;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #0000002a;
    transition: 0.2s;
  }
