.grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding-inline: 1.5%;

    margin: auto;
}

.grid-element{
    display: flex;
    padding: 5%;
    background-color: #59a570;
    border-radius: 25px;
    width: 700px;
}

.img-sect {
    background-color: white;
    height: 300px;
    margin-right: 2%; /* Add some margin for spacing */
    padding: 2%;
    border-radius: 25px;
}

.city-things {
    padding: 1.5%;
}

.description{
    text-align: justify;

    border-radius: 10px;
    max-height: 170px;
    /* overflow: hidden;
    overflow-y: scroll; */
}

.city-thingies ::-webkit-scrollbar{
    width: 15px;
}

.city-thingies ::-webkit-scrollbar-track{
    background-color: aliceblue;
    border-radius: 10px;
}

.city-thingies ::-webkit-scrollbar-thumb{
    border-left: 0.5px solid aliceblue;
    border-right: 0.5px solid aliceblue;
    background-color: #d787e4;
    border-radius: 10px;
}