/* CSS for "home.php" - automatically linked in <head> php code */

:root {
    --booking-bg: rgb(145, 199, 134);
    --booking-bg-s: rgb(120, 182, 108);

    --card-bg: rgb(79, 157, 230);
    --card-bg-s:rgb(122, 191, 255);

    --reservation-bg: rgb(171, 219, 161);

    --country-fill: rgb(255, 227, 105);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "left-card middle right-card"
        ". reservation .";
    gap: 1em;
    align-items: center;
    justify-content: center;
}
main > * {
    justify-self: center;
}

@media (max-width: 1200px) {
    .card-container {
        transform: scale(75%);
    }
}

.stats {
    grid-area: middle;
    width: 75%;
    height: 75%;

    color: white;
    background-color: rgba(128,128,128, 0.5);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats p {
    margin: 2px;
}
.stats p::before {
    content: '> ';
}

/* .map-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

    background: radial-gradient(closest-side, rgb(255, 237, 156), var(--main-color));
} */

.reservation {
    position: relative;
    
    background-color:var(--booking-bg);
    border: 1em solid var(--booking-bg-s);
    padding: 1em;
    height: 30em;
    width: clamp(30em, 100%, 50em);
    
    border-radius: 2em;

    display: flex;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;

    grid-area: reservation;
}
.reservation h1 {
    color: white;
    margin: 0;
    text-align: center;
}

.card-container {
    padding: 1em;
    transition: 0.5s;
}
.card-container .home-cards {
    width: calc(20em + 2vw);
    background-color: var(--card-bg);
    border: 1em solid var(--card-bg-s);
    border-radius: 2em;
}


.left-card {
    grid-area: left-card;
    justify-self: end;
}
.right-card {
    grid-area: right-card;
    justify-self: start;
}

.img-holder {
    width: 100%;
    height: calc(150px + 0.5em);
    border-radius: 1em;
    background-color: lightgray;
    border: 0.25em solid antiquewhite;
}
.img-holder img {
    width: 100%;
    height: 150px;
    border-radius: 1em;
    margin: 0;
}


.result {
    padding: 1em;
    width: 90%;
    text-align: center;
    background-color: var(--reservation-bg);
    border-radius: 2em;
    border: 0.5em solid var(--booking-bg-s);
    margin: 1em;
}
.result h2 {
    color: var(--card-bg);
    background: linear-gradient(rgba(255,255,255,0), rgba(157, 240, 255, 0.25), rgba(255,255,255,0));
    border-radius: 2em;
}
.result p {
    margin: 5px;
    text-align: left;
}
.result p::before {
    content: '- ';
}
.result p span {
    font-weight: 700;
}

.placename {
    color: var(--category-hovered);
}


.card{
    /* border: 1em solid var(--card-bg); */
    padding: 0.5em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    text-align: center;
}
.description{
    text-align: center;
    color: antiquewhite;
    
    /* max-height: 10em; */
    width: 100%;

    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
}

.country-outline {
    background-color: white;
    border: 0.25em solid antiquewhite;
    height: 150px;
    padding: 2%;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-outline svg {
    width: 100%;
    height: 100%;

    fill: var(--country-fill);
    stroke: orange;
    stroke-opacity: 0.5;
    stroke-width: 5%;
}

.description::-webkit-scrollbar{
    width: 10px;
}

.description::-webkit-scrollbar-track{
    background-color: aliceblue;
    border-radius: 10px;
}

.description::-webkit-scrollbar-thumb{
    border-left: 0.5px solid aliceblue;
    border-right: 0.5px solid aliceblue;
    background-color: #d787e4;
    border-radius: 10px;
}