/* CSS for "home.php" - automatically linked in <head> php code */

:root {
    --booking-bg: rgb(145, 199, 134);
    --booking-bg-s: rgb(120, 182, 108);

    --card-bg: rgb(79, 157, 230);
    --card-bg-s:rgb(122, 191, 255);
}

.map {
    position: absolute;
    top: 0;
    height: 20em;
    width: 20em;
    z-index: 1;
}

.map-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

    background: radial-gradient(closest-side, rgb(253, 255, 253), var(--main-color));
}

.reservation {
    width: calc(25% + 8em);
    background-color:var(--booking-bg);
    border: 1em solid var(--booking-bg-s);
    padding: 1em;
    height: 30em;
    border-radius: 2em;

    display: flex;
    
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}
.reservation h1 {
    color: white;
    margin: 0;
    text-align: center;
}

.result {
    padding: 1em;
    width: 90%;
    text-align: center;
    /* background-color: var(--booking-bg-s); */
    border-radius: 2em;
    border: 0.5em solid var(--booking-bg-s);
    margin: 1em;
}
.result h2 {
    color: var(--card-bg);
    background: linear-gradient(rgba(255,255,255,0), rgba(157, 240, 255, 0.25), rgba(255,255,255,0));
    border-radius: 2em;
}
.result p {
    margin: 5px;
    text-align: left;
}
.result p::before {
    content: '- ';
}
.result p span {
    font-weight: 700;
}

.placename {
    color: var(--category-hovered);
}

.swipeWrap{
    width: 20%;
    padding: 10em;
}
.home-cards{
    width: 20em;
    background-color: var(--card-bg);
    border: 1em solid var(--card-bg-s);
    border-radius: 2em;
}

.card{
    /* border: 1em solid var(--card-bg); */
    padding: 0.5em;
    
}
.card h2{
    text-align: center;
}
.description{
    text-align: justify;

    max-height: 10em;
    width: 100%;

    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    margin-bottom: 40px;
}

.country-outline {
    background-color: white;
    height: 150px;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 25px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    --country-fill: rgb(255, 227, 105);
}

.country-outline svg {
    width: 100%;
    height: 100%;

    fill: var(--country-fill);
    stroke: orange;
    stroke-opacity: 0.5;
    stroke-width: 5%;
}

.description::-webkit-scrollbar{
    width: 10px;
}

.description::-webkit-scrollbar-track{
    background-color: aliceblue;
    border-radius: 10px;
}

.description::-webkit-scrollbar-thumb{
    border-left: 0.5px solid aliceblue;
    border-right: 0.5px solid aliceblue;
    background-color: #d787e4;
    border-radius: 10px;
}