/* CSS for "home.php" - automatically linked in <head> php code */

:root {
    --booking-bg: rgb(145, 199, 134);
    --booking-bg-s: rgb(120, 182, 108);
}

.map {
    position: absolute;
    top: 0;
    height: 20em;
    width: 20em;
    z-index: 1;
}

.map-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

    background: radial-gradient(closest-side, rgb(253, 255, 253), var(--main-color));
}

.reservation {
    width: 30%;
    background-color:var(--booking-bg);
    border: 1em solid var(--booking-bg-s);
    padding: 1em;
    height: 400px;
    border-radius: 2em;

    display: flex;
    
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}
.reservation h1 {
    color: white;
    margin: 0;
    text-align: center;
}

.result {
    padding: 1em;
    width: 75%;
    text-align: center;
}
.result p {
    margin: 5px;
    text-align: left;
}
.result p::before {
    content: '- ';

}

.placename {
    color: var(--category-hovered);
}

h3{
    text-align: center;
    vertical-align: bottom;
}
.swipeWrap{
    width: 20%;
    padding: 1.5%;
}
.home-cards{
    width: 300px;
    background-color: #59a570;
    border-radius: 25px;
}

.card{
    padding: 3%;
}
.card h3{
    text-align: center;
}
.description{
    text-align: justify;

    border-radius: 10px;
    max-height: 100px;

    overflow: hidden;
    overflow-y: scroll;
    padding: 3%;
    margin-bottom: 40px;
}

.img-sect{
    background-color: white;
    height: 150px;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 25px;
}

.swiper::-webkit-scrollbar{
    width: 15px;
}

.swiper::-webkit-scrollbar-track{
    background-color: aliceblue;
    border-radius: 10px;
}

.swiper::-webkit-scrollbar-thumb{
    border-left: 0.5px solid aliceblue;
    border-right: 0.5px solid aliceblue;
    background-color: #d787e4;
    border-radius: 10px;
}