/* CSS for "map.php" - automatically linked in <head> php code */

@keyframes popin {
    0% {
        transform: translateY(-100%) scale(50%);
    }
    100% {
        transform: translateY(0%) scale(100%);
    }
}

:root {
    --booking-bg: rgb(145, 199, 134);
    --booking-bg-s: rgb(120, 182, 108);
    --book-success: rgb(135, 255, 131);
    --book-success-s: rgb(116, 201, 113);
}

.map {
    position: absolute;
    top: 5%;
    width: 60%;
    height: 60%;

    --map-fill: rgb(173, 230, 185);
    --map-highlight: rgb(71, 187, 115);
    --map-click-highlight: rgb(255, 191, 95);
    --map-invalid-fill: lightgray;
    --map-invalid-highlight: rgb(150,150,150);

    --warning-color: rgb(240, 169, 77);


    animation: popin 0.3s ease-out;
}

.not-logged-in {
    position: relative;
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;

    color: var(--warning-color);
}
.warning {
    width: 100px;
    height: 100px;
}

.booking {
    position: absolute;
    top: calc(60% + 7em);
    left: 50%;
    transform: translateX(-50%);

    width: calc(70% + 4em);
    height: calc(20% + 6em);
    background-color: var(--booking-bg);
    border: 0.5em solid var(--booking-bg-s);
    border-radius: 5em;
    padding: 1.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 2em;
}

.place-image {
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
    border-radius: 5em;

    flex: 1;
}

.info {
    height: 100%;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    gap: 0.5em;

    flex: 3;
}
.info > * {
    margin: 0;
    color: white;
}
.info .desc {
    overflow-y: auto;
}
.dateinfo {
    flex: 1;
}
.startdate, .enddate {
    color: white;
    font-weight: 600;
}

#submit {
    padding: 0.5em;
    outline: none;
    border: none;

    background-color: var(--book-success-s);
    border: 0.5em solid var(--book-success);
    border-radius: 1em;
    color: white;
    font-size: 1em;
    font-weight: 600;

    transition: 0.25s ease;
    flex: 1;
}
#submit:hover {
    border-color: var(--book-success-s);
    /* border-radius: 100%; */
    font-size: 1.2em;
}


.booking-results {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* background-color: black; */
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booking-results .success {
    width: 50%;

    text-align: center;
    margin: 5px;
    padding: 5px;

    background-color: var(--book-success);
    border: 0.5em solid var(--book-success-s);
    border-radius: 15px;

    font-weight: 600;
    color: black;
}


/* Valid and invalid countries */
.hovered-text {
    color: var(--map-invalid-highlight);
}

.hovered-text.valid {
    color: var(--map-highlight);
}
.hovered-text.selected {
    color: var(--map-click-highlight);
}
.hovered-text::before {
    content: '> ';
}

/* Map, map svg & map background */
.map-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 5em);
    height: calc(100% + 5em);
    background-color: lightskyblue;
    border-radius: 5em;
    border: 1em solid rgb(132, 220, 255);
    z-index: 1
}
.svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: calc(90%);
    height: calc(90% + 5em);

    z-index: 1;

    overflow: hidden;
}
.map svg {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 2;

    fill: var(--map-fill);
    stroke: black;
    stroke-opacity: 0.5;
    stroke-width: 0.5;

    transform-origin: 0 0;
    transition: transform 0.05s;
}


/* Bottom left & top right info */
.hover-info, .cursor-info {
    position: absolute;
    color: white;
    z-index: 5;
}
.hover-info {
    right: 0;
    top: 0;
    text-align: right;
}
.cursor-info {
    left: 0;
    bottom: 0;
    text-align: left;
    pointer-events: none;
}

.hover-info > *, .cursor-info > * {
    margin: 0;
    user-select: none;
    pointer-events: none;
}

.admin {
    color: orange;
    margin: 0;
}
.copyable {
    user-select: all;
    pointer-events: all;
    color: black;
}

/* All valid land & invalid land */
.land {
    position: relative;
    fill: var(--map-invalid-fill);
    stroke-opacity: 0.2;

    transition: 0.5s;
}
.land.valid-country {
    fill: var(--map-fill);
    stroke-opacity: 0.5;
}
.land:hover {
    fill: var(--map-invalid-highlight);

    transition: 0.5s
}
.land.valid-country:hover {
    fill: var(--map-highlight);

    transition: 0.5s;
}
.land.selected, .land.selected:hover {
    fill: var(--map-click-highlight);
}

/* Markers [country tooltips] */

.markers {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    /* background: transparent; */
    pointer-events: none;

    overflow: hidden;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    /* Calculate the  */
    transform: attr(data-location-offset);
    width: 25px;
    height: 25px;
    color: white;

    pointer-events:all;
}
.mark {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* .mark svg g path {
    fill: darkorange;
} */
.tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);

    background-color: #000;
    padding: 10px 15px;
    border-radius: 7px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, top 0.2s ease;

    z-index: 10;
}
.tooltip::before { /* the small little arrow under a tooltip */
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% - 1px);
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;
    pointer-events: none;
}
.marker:hover .tooltip{
    top: -50%;
    visibility: visible;
    opacity: 1;
}

