@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Martian+Mono:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

:root {
    --main-color: rgb(166, 225, 157);
    /* --main-color-s: rgb(55, 94, 46); */
    --main-color-s: rgba(49, 49, 49, 0.35);

    --category-hovered: rgb(145, 255, 172);

    --button-color: rgb(93, 255, 133);
    --button-color-hovered: rgba(82, 255, 105, 0.8);

    --warning-color: rgba(252, 255, 89, 0.808);
    --warning-color-s: rgba(224, 194, 113, 0.781);
    --success-color: rgba(135, 255, 131, 0.808);
    --success-color-s: rgba(116, 201, 113, 0.808);

    --formbox-color: rgb(227, 168, 243);
    --formbox-color-s: rgb(208, 151, 224);
    --formbox-color: #D89DE1;
    --formbox-color-s: #d787e4;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--main-color);

    height: 300vh;
}

main {
    position: relative;
    top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 8rem - 100px); /* the height i calculated that it needs to be, to fill up the rest of the screen below the navigation bar */
    width: 100%;
    background-color: var(--main-color);
}

/* ------------------------------- */
/* CSS for the Navbar! [home.html] */
/* ------------------------------- */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 4.5rem;
    padding: 10px 2%;
    width: clamp(100px, 80%, 100rem);
    /* max-width: 100rem; */
    border-radius: 500px;

    background-color: var(--main-color-s);

    z-index: 10;
}

/* alert when database is unconnected */
.db-error-alert {
    position: fixed;
    top: calc(100% - 10px);
    transform: translateY(-100%);

    color: red;
    font-weight: 1000;

    background-color: rgb(253, 255, 124);
    border: 2px solid rgb(255, 214, 80);
    border-radius: 50px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}


/* tab container children (navbar) */
header > * {
    flex: 1;
    height: 5rem;

    display: flex;
    align-items: center;
}
.nav-links a, .nav-links button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.nav-links button {
    color: black;
}

/* left, mid & right tabs*/
nav.nav-links {
    flex: 1;
    justify-content: left;
}
div.nav-links {
    flex: 1;
    justify-content: right;
}

.logo-container {
    flex: 0 0 clamp(6em, 20vw, 12em);
    justify-content: center;

    position: relative;
    height: calc(100% + 20px);
}
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    max-width: 100%;
    height: auto;

    cursor: pointer;
}
.logo-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;

    width: 133%;

    z-index: 5;
}
.logo-container svg text {
    font-family: 'Montserrat', sans-serif;
    fill: white;
    font-weight: 800;

    paint-order: stroke;
    stroke: #59a570;
    stroke-width: 4px;
}


.nav-links a {
    position: relative;
    display: inline-block;
    padding: 0px 20px;
}
.nav-links .logintext {
    position: relative;
    margin-right: auto;
    margin-left: 1.5em;
    font-weight: 500;
    color: white;
}
.nav-links h3 {
    position: relative;
    margin-right: auto;
    margin-left: 1.5em;
    color: white;
}
.greeting {
    color: var(--category-hovered);
}

.nav-links .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1em; /* Add icon above text (offset fixed in code below) */

    font-size: 1.5em;
}
.nav-links :has(.icon) {
    top: 0.5em; /* Center out the text + icon (offset by half)*/
}


/* Color animation on hover! */
.nav-links a {
    transition: all 0.3s ease 0s;
}
.nav-links a:hover {
    color: var(--category-hovered);
}

/* Underline animation on hover! */
.nav-links a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    background: #fff;
    pointer-events: none;

    width: 0;
    transform: translate(-50%, 10px);
    opacity: 0.5;

    transition: 0.3s;
}
.nav-links a:hover::after {
    width: 100%;
    opacity: 1;
    transform: translate(-50%, 2px);
}

.cta { /* the Contact button! [May get removed/replaced]*/
    padding: 9px 25px;
    background-color: var(--button-color);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; /* all properties, animate for 0.3 seconds, ease it out, 0 second delay */
}
.cta:hover {
    background-color: var(--button-color-hovered);
}



.home-cards{
    display: grid;
}
.card{
    width: 300px;
    height: 600px;
    background-color: #59a570;
    border-radius: 25px;
    padding: 4%;
}
.card h3{
    text-align: center;
}
.description{
    text-align: justify;

    padding: 2%;
    border-radius: 10px;
    max-height: 50px;
}

.img-sect{
    background-color: white;
    height: 170px;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 25px;
}